/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*
/resources/*
/src/minecraft/cpw/*
/src/minecraft/net/*
/src/minecraft/org/*
/src/minecraft/ibxm/*
/src/minecraft/paulscode/*
/src/minecraft/universalelectricity/*
/src/minecraft/basiccomponents/*
CHANGELOG
*.bat
*.sh

/src/minecraft/Start.java
/src/minecraft/dan200/computer/api/IComputerAccess.java
/src/minecraft/dan200/computer/api/IPeripheral.java
/src/minecraft/fml_at.cfg
/src/minecraft/fml_marker.cfg
/src/minecraft/fmlversion.properties
/src/minecraft/forge_at.cfg
/src/minecraft/forge_logo.png
/src/minecraft/mcp.png
/src/minecraft/mcpmod.info
/src/minecraft/railcraft/common/api/core/items/ICrowbar.java
/nbproject/private/
/build/