/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*
/resources/*
/src/minecraft/cpw/*
/src/minecraft/net/*
/src/minecraft/org/*
/src/minecraft/ibxm/*
/src/minecraft/paulscode/*
/src/minecraft/universalelectricity/*
/src/minecraft/basiccomponents/*
CHANGELOG
*.bat
*.sh

/src/minecraft/Start.java
/src/minecraft/dan200/computer/api/IComputerAccess.java
/src/minecraft/dan200/computer/api/IPeripheral.java
/src/minecraft/fml_at.cfg
/src/minecraft/fml_marker.cfg
/src/minecraft/fmlversion.properties
/src/minecraft/forge_at.cfg
/src/minecraft/forge_logo.png
/src/minecraft/mcp.png
/src/minecraft/mcpmod.info
/src/minecraft/railcraft/common/api/core/items/ICrowbar.java
/nbproject/private/
/build/
/src/minecraft/gigaherz/elementsofpower/models/*.bak
/src/minecraft/gigaherz/elementsofpower/models/*.rhl
/.gradle
/.idea
/CREDITS-fml.txt
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/README.txt
/build.gradle
/forge-1.8-11.14.0.1281-1.8-changelog.txt
/forge.iml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/src/main/java/com/example/examplemod/ExampleMod.java
*.bak
*.rhl
